.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  padding: 60px 0;
}
 .job-card{
  padding: 10px;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 4px 0px #bfc8d1;
  transition: transform 0.3s ease;
 }

 .job-card:hover {
  transform: scale(1.05);
}
 .job-card button{
  margin: 5px 0;
  width: 100%;
  border-radius:8px ;
  text-transform: none;
 }
 .Easy-apply:hover{
border:1px solid rgb(85, 239, 196);
 }
 .Referral:hover{
  border: 1px solid #7f43c1;
 }
 .Easy-apply{
  background-color: rgb(85, 239, 196);
  color: rgb(0, 0, 0);
  padding: 8px 18px;
  font-weight: 500;
 }
 .job-info{
  overflow: auto;
 }
 .job-info h3{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3px;
    color: #8b8b8b;
 }

 .posted-time{
  display: flex;
    align-items: flex-start;
    padding: 5px 10px;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    flex: 1 1 0%;
 }

 .posted-time p{
  padding: 4px 6px;
    box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
    margin: 0px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 9px;


 }
 .opacityEffect {
  position: relative;
}
.basic-multi-select{
  margin:10px;
}
.company-name{
  border-radius:5px;
  padding: 8px;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
}

.fliter-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  background-color: transparent;
  padding: 0 20px 20px;
  background-color: #fff !important;

}

.opacityEffect a {
  position: relative;
  cursor: pointer;
  color:#4943da !important;
  z-index: 1;
}

.opacityEffect .notes::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none; 
}

 .about-company{
  white-space: pre-wrap;
  font-size: 14px;
 }
 .about-company p{
  font-weight: 400;
  margin-bottom: 0px; 
}
.job-info h2{
    font-size: 14px;
    line-height: 1.5;
}
 .Referral{
  background-color:#7f43c1;
  color: white;
  padding: 8px 18px;
  font-weight: 500;
 }

.loading-indicator {
  display: none;
  width: 50px; 
  height: 50px;
  border: 2px solid #007bff; 
  border-top: 2px solid transparent; 
  border-radius: 50%; 
  animation: spin 1s linear infinite; 
}

.loading-indicator.active {
  display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
